# Introduction to SQLAlchemy
***

The purpose of these laboratory classes is to familiarize with the basic techniques of working with [SQLAlchemy](https://www.sqlalchemy.org/).

The scope of this classes:
- connection to a database (especially remote database),
- explore of database structure using ORM,
- creating simple select in ORM,
- using query results in a program,
- adding where clause to query.

SQLAlchemy is the Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL.

It provides a full suite of well known enterprise-level persistence patterns, designed for efficient and high-performing database access, adapted into a simple and Pythonic domain language.

Object Relational Mapper (ORM) is a programming technique for converting data between incompatible type systems using object-oriented programming languages. This creates, in effect, a "virtual object database" that can be used from within the programming language.

The database structure is not always known to the programmer for various reasons, most often due to lack of documentation. In this case, it's worth knowing that we can use SQL query to explore database structure.

## Exercise 1 - PostgreSQL
***

### 1. Connection SQLAlchemy with database

To connection a database with a program with the basic version we need to use the following script:

In [1]:
from sqlalchemy import create_engine

config_PostgreSQL = {
    "database_type": "",
    "user": "",
    "password": "",
    "database_url": "",
    "port": ,
    "database_name": ""
}

db_string = "{database_type}://{user}:{password}@{database_url}:{port}/{database_name}".format(**config_PostgreSQL)

db = create_engine(db_string)

# test the connection
try:
    conn = db.connect()
    print("Connected successfully!")
except:
    print("Failed to connect")

Connected successfully!

where:
- *databae_type* is the name of database driver, more details you can read [here](https://docs.sqlalchemy.org/en/13/core/engines.html#database-urls),
- *user* - name of user in database,
- *password* - password to database,
- *database_url* - url address to database,
- *port* - port to database connection,
- *database_name* - name of database.  

*[create_engine](https://docs.sqlalchemy.org/en/13/core/connections.html)* is just interface to connection database with program.

For PostgreSQL database structure are describe [here](https://www.postgresqltutorial.com/postgresql-sample-database/):

![schema dvd rental](images/dvd-rental-sample-database-diagram.png)

### 2. Based on *information_schema*, present how to explore relationships between the tables

In all database exist metadata to describe structure of data. This data are write in *information_schema*, for PostgreSql [see](https://www.postgresql.org/docs/12/information-schema.html):

```sql
SELECT column_name, data_type 
FROM information_schema.columns 
WHERE table_name = 'name' AND table_schema = 'public';
```

Present how to explore database structure between the tables:
1. staff and country
2. actor, language and film

Of course, SQLAlchemy has the function to read this data. In this sript *table_name* is the string with table name in database:

In [2]:
from sqlalchemy import MetaData, Table, inspect

inspection = inspect(db)
print("Tables in database:")
print(inspection.get_table_names())

metadata = MetaData()

# Define tables name
category = Table('category', metadata, autoload_with=db)
staff = Table('staff', metadata, autoload_with=db)
country = Table('country', metadata, autoload_with=db)

# Function to display column details
def display_column_details(table):
    print("="*50)
    print(f"Table: {table.name}")
    print("="*50)
    for column in table.columns:
        print("Column: {}, Type: {}, Nullable: {}, Primary Key: {}, Unique: {}".format(
            column.name, column.type, column.nullable, column.primary_key, column.unique))
    print(f"Columns keys: {table.columns.keys()}")
    print("="*50 + "\n")

# Display details of each column 'staff'
display_column_details(staff)

# Display details of each column 'country'
display_column_details(country)

Tables in database:
['country', 'film', 'address', 'authors', 'film_category', 'alfabet', 'countryies', 'cities', 'city_data', 'customer', 'countries', 'cityies', 'actor', 'staff', 'inventory', 'res', 'payment', 'monuments', 'language', 'store', 'shape_a', 'shape_b', 'users', 'books', 'category', 'film_actor', 'city', 'rental']
==================================================
Table: staff
==================================================
Column: staff_id, Type: INTEGER, Nullable: False, Primary Key: True, Unique: None
Column: first_name, Type: VARCHAR(45), Nullable: False, Primary Key: False, Unique: None
Column: last_name, Type: VARCHAR(45), Nullable: False, Primary Key: False, Unique: None
Column: address_id, Type: SMALLINT, Nullable: False, Primary Key: False, Unique: None
Column: email, Type: VARCHAR(50), Nullable: True, Primary Key: False, Unique: None
Column: store_id, Type: SMALLINT, Nullable: False, Primary Key: False, Unique: None
Column: active, Type: BOOLEAN, Nullable: False, Primary Key: False, Unique: None
Column: username, Type: VARCHAR(16), Nullable: False, Primary Key: False, Unique: None
Column: password, Type: VARCHAR(40), Nullable: True, Primary Key: False, Unique: None
Column: last_update, Type: TIMESTAMP, Nullable: False, Primary Key: False, Unique: None
Column: picture, Type: BYTEA, Nullable: True, Primary Key: False, Unique: None
Columns keys: ['staff_id', 'first_name', 'last_name', 'address_id', 'email', 'store_id', 'active', 'username', 'password', 'last_update', 'picture']
==================================================

==================================================
Table: country
==================================================
Column: country_id, Type: INTEGER, Nullable: False, Primary Key: True, Unique: None
Column: country, Type: VARCHAR(50), Nullable: False, Primary Key: False, Unique: None
Column: last_update, Type: TIMESTAMP, Nullable: False, Primary Key: False, Unique: None
Columns keys: ['country_id', 'country', 'last_update']
==================================================

Basic query *select* in SQLAlchemy > 2.0 has form:

In [3]:
from sqlalchemy import text

# Define the statement
stmt = 'SELECT * FROM category'
con = db.connect()

# Execute the statement and fetch the results
results = con.execute(text(stmt)).fetchall()
# Print results from query
for row in results:
    print(row)

(1, 'Action', datetime.datetime(2006, 2, 15, 9, 46, 27))
(2, 'Animation', datetime.datetime(2006, 2, 15, 9, 46, 27))
(3, 'Children', datetime.datetime(2006, 2, 15, 9, 46, 27))
(4, 'Classics', datetime.datetime(2006, 2, 15, 9, 46, 27))
(5, 'Comedy', datetime.datetime(2006, 2, 15, 9, 46, 27))
(6, 'Documentary', datetime.datetime(2006, 2, 15, 9, 46, 27))
(7, 'Drama', datetime.datetime(2006, 2, 15, 9, 46, 27))
(8, 'Family', datetime.datetime(2006, 2, 15, 9, 46, 27))
(9, 'Foreign', datetime.datetime(2006, 2, 15, 9, 46, 27))
(10, 'Games', datetime.datetime(2006, 2, 15, 9, 46, 27))
(11, 'Horror', datetime.datetime(2006, 2, 15, 9, 46, 27))
(12, 'Music', datetime.datetime(2006, 2, 15, 9, 46, 27))
(13, 'New', datetime.datetime(2006, 2, 15, 9, 46, 27))
(14, 'Sci-Fi', datetime.datetime(2006, 2, 15, 9, 46, 27))
(15, 'Sports', datetime.datetime(2006, 2, 15, 9, 46, 27))
(16, 'Travel', datetime.datetime(2006, 2, 15, 9, 46, 27))

Function *execute* make a request to a database and *fetchall* method get our results from an executed query. But in this case we don't use ORM propertis. More correctly is use structur:

In [4]:
from sqlalchemy import select

staff = Table('staff', metadata, autoload_with=db)
address = Table('address', metadata, autoload_with=db)
city = Table('city', metadata, autoload_with=db)
country = Table('country', metadata, autoload_with=db)

# Create a select query with join
stmt2 = select(
    *[
        staff.c.staff_id, staff.c.first_name, staff.c.last_name,
        country.c.country_id, country.c.country
    ]
).select_from(
    staff.join(address, staff.c.address_id == address.c.address_id)
         .join(city, address.c.city_id == city.c.city_id)
         .join(country, city.c.country_id == country.c.country_id)
    )
# Explore relationships between tables (Staff and Country)
print(stmt2)

# Execute the statement and fetch the results
results = con.execute(stmt2).fetchmany(size=10)
# Print the SQL query string
print("Staff and Country:")
for row in results:
    print(row)

SELECT staff.staff_id, staff.first_name, staff.last_name, country.country_id, country.country
FROM staff JOIN address ON staff.address_id = address.address_id JOIN city ON address.city_id = city.city_id JOIN country ON city.country_id = country.country_id
Staff and Country:
(1, 'Mike', 'Hillyer', 20, 'Canada')
(2, 'Jon', 'Stephens', 8, 'Australia')

In [5]:
from sqlalchemy import select

film = Table('film', metadata, autoload_with=db)
language = Table('language', metadata, autoload_with=db)
actor = Table('actor', metadata, autoload_with=db)
film_actor = Table('film_actor', metadata, autoload_with=db)

stmt3 = select(
    *[
        film.c.film_id, film.c.title, film.c.description, film.c.release_year,
        language.c.language_id, language.c.name,
        actor.c.actor_id, actor.c.first_name, actor.c.last_name
    ]
).select_from(
    film.join(language, film.c.language_id == language.c.language_id)
        .join(film_actor, film.c.film_id == film_actor.c.film_id)
        .join(actor, film_actor.c.actor_id == actor.c.actor_id)
)
print(stmt3)

# Explore relationships between tables (Staff and Country)
con = db.connect()
# Execute the statement and fetch the results
results = con.execute(stmt3).fetchmany(size=10)
# Print the SQL query string
print("Actor, language and film:")
for row in results:
    print(row)

SELECT film.film_id, film.title, film.description, film.release_year, language.language_id, language.name, actor.actor_id, actor.first_name, actor.last_name
FROM film JOIN language ON film.language_id = language.language_id JOIN film_actor ON film.film_id = film_actor.film_id JOIN actor ON film_actor.actor_id = actor.actor_id
Actor, language and film:
(1, 'Academy Dinosaur', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', 2006, 1, 'English             ', 1, 'Penelope', 'Guiness')
(23, 'Anaconda Confessions', 'A Lacklusture Display of a Dentist And a Dentist who must Fight a Girl in Australia', 2006, 1, 'English             ', 1, 'Penelope', 'Guiness')
(25, 'Angels Life', 'A Thoughtful Display of a Woman And a Astronaut who must Battle a Robot in Berlin', 2006, 1, 'English             ', 1, 'Penelope', 'Guiness')
(106, 'Bulworth Commandments', 'A Amazing Display of a Mad Cow And a Pioneer who must Redeem a Sumo Wrestler in The Outback', 2006, 1, 'English             ', 1, 'Penelope', 'Guiness')
(140, 'Cheaper Clyde', 'A Emotional Character Study of a Pioneer And a Girl who must Discover a Dog in Ancient Japan', 2006, 1, 'English             ', 1, 'Penelope', 'Guiness')
(166, 'Color Philadelphia', 'A Thoughtful Panorama of a Car And a Crocodile who must Sink a Monkey in The Sahara Desert', 2006, 1, 'English             ', 1, 'Penelope', 'Guiness')
(277, 'Elephant Trojan', 'A Beautiful Panorama of a Lumberjack And a Forensic Psychologist who must Overcome a Frisbee in A Baloon', 2006, 1, 'English             ', 1, 'Penelope', 'Guiness')
(361, 'Gleaming Jawbreaker', 'A Amazing Display of a Composer And a Forensic Psychologist who must Discover a Car in The Canadian Rockies', 2006, 1, 'English             ', 1, 'Penelope', 'Guiness')
(438, 'Human Graffiti', 'A Beautiful Reflection of a Womanizer And a Sumo Wrestler who must Chase a Database Administrator in The Gulf of Mexico', 2006, 1, 'English             ', 1, 'Penelope', 'Guiness')
(499, 'King Evolution', 'A Action-Packed Tale of a Boy And a Lumberjack who must Chase a Madman in A Baloon', 2006, 1, 'English             ', 1, 'Penelope', 'Guiness')

### 3. Quantity categories of films are in the rental

In [6]:
# Define other columns for the category table if necessary
stmt4 = select(category)
print(stmt4)

# Execute the statement and fetch the results
results = con.execute(stmt4).fetchall()
# Print the SQL query string
print("\nNumber of categories in the rental:", len(results))

SELECT category.category_id, category.name, category.last_update
FROM category

Number of categories in the rental: 16

### 4. Display list of categories with limit 2

In [7]:
stmt5 = select(category.columns.name).limit(2)
print(stmt5)

results = con.execute(stmt5).fetchall()
print("\nCategories with limit 2:")
for row in results:
    print(row)

SELECT category.name
FROM category
 LIMIT :param_1

Categories with limit 2:
('Action',)
('Animation',)

### 5. Find the oldest and youngest film in rental

In [8]:
film = Table('film', metadata, autoload_with=db)

stmt6 = select(
    *[
        film.columns.title, film.columns.release_year
    ]
).order_by(film.columns.release_year.asc())
print(stmt6)

oldest_film = con.execute(stmt6).fetchone()


stmt7 = select(
    *[
        film.columns.title, film.columns.release_year
    ]
).order_by(film.columns.release_year.desc())
print(stmt7)

youngest_film = con.execute(stmt7).fetchone()

print("\nOldest film in rental:", oldest_film)
print("Youngest film in rental:", youngest_film)

SELECT film.title, film.release_year
FROM film ORDER BY film.release_year ASC
SELECT film.title, film.release_year
FROM film ORDER BY film.release_year DESC

Oldest film in rental: ('Chamber Italian', 2006)
Youngest film in rental: ('Chamber Italian', 2006)

### 6. Find all actor with a name: Olympia, Julia, Ellen. How can you check correction of your query

In [9]:
actor = Table('actor', metadata, autoload_with=db)

# define actors we want to find
actors_to_find = ['Olympia', 'Julia', 'Ellen']

# create select statement to find actors
stmt8 = select(
    *[
        actor
    ]
).where(actor.columns.first_name.in_(actors_to_find))
print(stmt8)

# execute statement and fetch results
results = con.execute(stmt8).fetchall()
# print results
print("\nActors with a name:")
for result in results:
    print(result.first_name, result.last_name)

SELECT actor.actor_id, actor.first_name, actor.last_name, actor.last_update
FROM actor
WHERE actor.first_name IN (__[POSTCOMPILE_first_name_1])

Actors with a name:
Julia Mcqueen
Julia Barrymore
Ellen Presley
Olympia Pfeiffer
Julia Zellweger
Julia Fawcett

## Exercise 2 - MySQL
***

### 1. Connection SQLAlchemy with database (MySQL)

To connection a database with a program with the basic version we need to use the following script:

In [10]:
from sqlalchemy import create_engine

config_MySQL = {
    "database_type": "",
    "user": "",
    "password": "",
    "database_url": "",
    "port": ,
    "database_name": ""
}

db_string = "{database_type}://{user}:{password}@{database_url}:{port}/{database_name}".format(**config_MySQL)

db = create_engine(db_string)

# test the connection
try:
    conn = db.connect()
    print("Connected successfully!")
except:
    print("Failed to connect")

Connected successfully!

where:
- *databae_type* is the name of database driver, more details you can read [here](https://docs.sqlalchemy.org/en/13/core/engines.html#database-urls),
- *user* - name of user in database,
- *password* - password to database,
- *database_url* - url address to database,
- *port* - port to database connection,
- *database_name* - name of database.  

*[create_engine](https://docs.sqlalchemy.org/en/13/core/connections.html)* is just interface to connection database with program.

For MySQL database structure are describe [here](https://www.mysqltutorial.org/mysql-sample-database.aspx):

![mysql schema database](images/mysql-sample-database.png)

### 2. Based on *information_schema*, present how to explore relationships between the tables

In all database exist metadata to describe structure of data. This data are write in *information_schema*, for MySQL [see](https://dev.mysql.com/doc/refman/8.0/en/getting-information.html):

```sql
SELECT table_name 
FROM information_schema.tables 
WHERE table_schema = 'bauer1'
```

Present how to explore database structure between the tables:
1. customers and employees
2. customers, payments and orders

Of course, SQLAlchemy has the function to read this data. In this sript *table_name* is the string with table name in database:

In [11]:
from sqlalchemy import MetaData, Table, inspect

inspection = inspect(db)
print("Tables in database:")
print(inspection.get_table_names())

metadata = MetaData()

# Define tables name
customers = Table('customers', metadata, autoload_with=db)
employees = Table('employees', metadata, autoload_with=db)
payments = Table('payments', metadata, autoload_with=db)
orders = Table('orders', metadata, autoload_with=db)

# Function to display column details
def display_column_details(table):
    print("="*50)
    print(f"Table: {table.name}")
    print("="*50)
    for column in table.columns:
        print("Column: {}, Type: {}, Nullable: {}, Primary Key: {}, Unique: {}".format(
            column.name, column.type, column.nullable, column.primary_key, column.unique))
    print(f"Columns keys: {table.columns.keys()}")
    print("="*50 + "\n")

display_column_details(customers)
display_column_details(employees)
display_column_details(payments)
display_column_details(orders)

Tables in database:
['bookings', 'cities', 'countries', 'customers', 'employees', 'hosts', 'offices', 'orderdetails', 'orders', 'payments', 'places', 'posts', 'productlines', 'products', 'reviews', 'users']
==================================================
Table: customers
==================================================
Column: customerNumber, Type: INTEGER, Nullable: False, Primary Key: True, Unique: None
Column: customerName, Type: VARCHAR(50), Nullable: False, Primary Key: False, Unique: None
Column: contactLastName, Type: VARCHAR(50), Nullable: False, Primary Key: False, Unique: None
Column: contactFirstName, Type: VARCHAR(50), Nullable: False, Primary Key: False, Unique: None
Column: phone, Type: VARCHAR(50), Nullable: False, Primary Key: False, Unique: None
Column: addressLine1, Type: VARCHAR(50), Nullable: False, Primary Key: False, Unique: None
Column: addressLine2, Type: VARCHAR(50), Nullable: True, Primary Key: False, Unique: None
Column: city, Type: VARCHAR(50), Nullable: False, Primary Key: False, Unique: None
Column: state, Type: VARCHAR(50), Nullable: True, Primary Key: False, Unique: None
Column: postalCode, Type: VARCHAR(15), Nullable: True, Primary Key: False, Unique: None
Column: country, Type: VARCHAR(50), Nullable: False, Primary Key: False, Unique: None
Column: salesRepEmployeeNumber, Type: INTEGER, Nullable: True, Primary Key: False, Unique: None
Column: creditLimit, Type: DECIMAL(10, 2), Nullable: True, Primary Key: False, Unique: None
Columns keys: ['customerNumber', 'customerName', 'contactLastName', 'contactFirstName', 'phone', 'addressLine1', 'addressLine2', 'city', 'state', 'postalCode', 'country', 'salesRepEmployeeNumber', 'creditLimit']
==================================================

==================================================
Table: employees
==================================================
Column: employeeNumber, Type: INTEGER, Nullable: False, Primary Key: True, Unique: None
Column: lastName, Type: VARCHAR(50), Nullable: False, Primary Key: False, Unique: None
Column: firstName, Type: VARCHAR(50), Nullable: False, Primary Key: False, Unique: None
Column: extension, Type: VARCHAR(10), Nullable: False, Primary Key: False, Unique: None
Column: email, Type: VARCHAR(100), Nullable: False, Primary Key: False, Unique: None
Column: officeCode, Type: VARCHAR(10), Nullable: False, Primary Key: False, Unique: None
Column: reportsTo, Type: INTEGER, Nullable: True, Primary Key: False, Unique: None
Column: jobTitle, Type: VARCHAR(50), Nullable: False, Primary Key: False, Unique: None
Columns keys: ['employeeNumber', 'lastName', 'firstName', 'extension', 'email', 'officeCode', 'reportsTo', 'jobTitle']
==================================================

==================================================
Table: payments
==================================================
Column: customerNumber, Type: INTEGER, Nullable: False, Primary Key: True, Unique: None
Column: checkNumber, Type: VARCHAR(50), Nullable: False, Primary Key: True, Unique: None
Column: paymentDate, Type: DATE, Nullable: False, Primary Key: False, Unique: None
Column: amount, Type: DECIMAL(10, 2), Nullable: False, Primary Key: False, Unique: None
Columns keys: ['customerNumber', 'checkNumber', 'paymentDate', 'amount']
==================================================

==================================================
Table: orders
==================================================
Column: orderNumber, Type: INTEGER, Nullable: False, Primary Key: True, Unique: None
Column: orderDate, Type: DATE, Nullable: False, Primary Key: False, Unique: None
Column: requiredDate, Type: DATE, Nullable: False, Primary Key: False, Unique: None
Column: shippedDate, Type: DATE, Nullable: True, Primary Key: False, Unique: None
Column: status, Type: VARCHAR(15), Nullable: False, Primary Key: False, Unique: None
Column: comments, Type: TEXT, Nullable: True, Primary Key: False, Unique: None
Column: customerNumber, Type: INTEGER, Nullable: False, Primary Key: False, Unique: None
Columns keys: ['orderNumber', 'orderDate', 'requiredDate', 'shippedDate', 'status', 'comments', 'customerNumber']
==================================================

In [12]:
from sqlalchemy import Table, select, func

# Define relationships
stmt = select(
    *[
        customers, employees
    ]
).where(customers.columns.salesRepEmployeeNumber == employees.columns.employeeNumber)
print(stmt)

con = db.connect()
results = con.execute(stmt).fetchall()
# Print the SQL query string
print("Customers and employees:")
for result in results:
    print(result)

SELECT customers."customerNumber", customers."customerName", customers."contactLastName", customers."contactFirstName", customers.phone, customers."addressLine1", customers."addressLine2", customers.city, customers.state, customers."postalCode", customers.country, customers."salesRepEmployeeNumber", customers."creditLimit", employees."employeeNumber", employees."lastName", employees."firstName", employees.extension, employees.email, employees."officeCode", employees."reportsTo", employees."jobTitle"
FROM customers, employees
WHERE customers."salesRepEmployeeNumber" = employees."employeeNumber"
Customers and employees:
(124, 'Mini Gifts Distributors Ltd.', 'Nelson', 'Susan', '4155551450', '5677 Strong St.', None, 'San Rafael', 'CA', '97562', 'USA', 1165, Decimal('210500.00'), 1165, 'Jennings', 'Leslie', 'x3291', 'ljennings@classicmodelcars.com', '1', 1143, 'Sales Rep')
(129, 'Mini Wheels Co.', 'Murphy', 'Julie', '6505555787', '5557 North Pendale Street', None, 'San Francisco', 'CA', '94217', 'USA', 1165, Decimal('64600.00'), 1165, 'Jennings', 'Leslie', 'x3291', 'ljennings@classicmodelcars.com', '1', 1143, 'Sales Rep')
(161, 'Technics Stores Inc.', 'Hashimoto', 'Juri', '6505556809', '9408 Furth Circle', None, 'Burlingame', 'CA', '94217', 'USA', 1165, Decimal('84600.00'), 1165, 'Jennings', 'Leslie', 'x3291', 'ljennings@classicmodelcars.com', '1', 1143, 'Sales Rep')
(321, 'Corporate Gift Ideas Co.', 'Brown', 'Julie', '6505551386', '7734 Strong St.', None, 'San Francisco', 'CA', '94217', 'USA', 1165, Decimal('105000.00'), 1165, 'Jennings', 'Leslie', 'x3291', 'ljennings@classicmodelcars.com', '1', 1143, 'Sales Rep')
(450, 'The Sharp Gifts Warehouse', 'Frick', 'Sue', '4085553659', '3086 Ingle Ln.', None, 'San Jose', 'CA', '94217', 'USA', 1165, Decimal('77600.00'), 1165, 'Jennings', 'Leslie', 'x3291', 'ljennings@classicmodelcars.com', '1', 1143, 'Sales Rep')
(487, 'Signal Collectibles Ltd.', 'Taylor', 'Sue', '4155554312', '2793 Furth Circle', None, 'Brisbane', 'CA', '94217', 'USA', 1165, Decimal('60300.00'), 1165, 'Jennings', 'Leslie', 'x3291', 'ljennings@classicmodelcars.com', '1', 1143, 'Sales Rep')
(112, 'Signal Gift Stores', 'King', 'Jean', '7025551838', '8489 Strong St.', None, 'Las Vegas', 'NV', '83030', 'USA', 1166, Decimal('71800.00'), 1166, 'Thompson', 'Leslie', 'x4065', 'lthompson@classicmodelcars.com', '1', 1143, 'Sales Rep')
(205, 'Toys4GrownUps.com', 'Young', 'Julie', '6265557265', '78934 Hillside Dr.', None, 'Pasadena', 'CA', '90003', 'USA', 1166, Decimal('90700.00'), 1166, 'Thompson', 'Leslie', 'x4065', 'lthompson@classicmodelcars.com', '1', 1143, 'Sales Rep')
(219, 'Boards & Toys Co.', 'Young', 'Mary', '3105552373', '4097 Douglas Av.', None, 'Glendale', 'CA', '92561', 'USA', 1166, Decimal('11000.00'), 1166, 'Thompson', 'Leslie', 'x4065', 'lthompson@classicmodelcars.com', '1', 1143, 'Sales Rep')
(239, 'Collectable Mini Designs Co.', 'Thompson', 'Valarie', '7605558146', '361 Furth Circle', None, 'San Diego', 'CA', '91217', 'USA', 1166, Decimal('105000.00'), 1166, 'Thompson', 'Leslie', 'x4065', 'lthompson@classicmodelcars.com', '1', 1143, 'Sales Rep')
(347, "Men 'R' US Retailers, Ltd.", 'Chandler', 'Brian', '2155554369', '6047 Douglas Av.', None, 'Los Angeles', 'CA', '91003', 'USA', 1166, Decimal('57700.00'), 1166, 'Thompson', 'Leslie', 'x4065', 'lthompson@classicmodelcars.com', '1', 1143, 'Sales Rep')
(475, 'West Coast Collectables Co.', 'Thompson', 'Steve', '3105553722', '3675 Furth Circle', None, 'Burbank', 'CA', '94019', 'USA', 1166, Decimal('55400.00'), 1166, 'Thompson', 'Leslie', 'x4065', 'lthompson@classicmodelcars.com', '1', 1143, 'Sales Rep')
(173, 'Cambridge Collectables Co.', 'Tseng', 'Jerry', '6175555555', '4658 Baden Av.', None, 'Cambridge', 'MA', '51247', 'USA', 1188, Decimal('43400.00'), 1188, 'Firrelli', 'Julie', 'x2173', 'jfirrelli@classicmodelcars.com', '2', 1143, 'Sales Rep')
(204, 'Online Mini Collectables', 'Barajas', 'Miguel', '6175557555', '7635 Spinnaker Dr.', None, 'Brickhaven', 'MA', '58339', 'USA', 1188, Decimal('68700.00'), 1188, 'Firrelli', 'Julie', 'x2173', 'jfirrelli@classicmodelcars.com', '2', 1143, 'Sales Rep')
(320, 'Mini Creations Ltd.', 'Huang', 'Wing', '5085559555', '4575 Hillside Dr.', None, 'New Bedford', 'MA', '50553', 'USA', 1188, Decimal('94500.00'), 1188, 'Firrelli', 'Julie', 'x2173', 'jfirrelli@classicmodelcars.com', '2', 1143, 'Sales Rep')
(339, 'Classic Gift Ideas, Inc', 'Cervantes', 'Francisca', '2155554695', '782 First Street', None, 'Philadelphia', 'PA', '71270', 'USA', 1188, Decimal('81100.00'), 1188, 'Firrelli', 'Julie', 'x2173', 'jfirrelli@classicmodelcars.com', '2', 1143, 'Sales Rep')
(379, 'Collectables For Less Inc.', 'Nelson', 'Allen', '6175558555', '7825 Douglas Av.', None, 'Brickhaven', 'MA', '58339', 'USA', 1188, Decimal('70700.00'), 1188, 'Firrelli', 'Julie', 'x2173', 'jfirrelli@classicmodelcars.com', '2', 1143, 'Sales Rep')
(495, 'Diecast Collectables', 'Franco', 'Valarie', '6175552555', '6251 Ingle Ln.', None, 'Boston', 'MA', '51003', 'USA', 1188, Decimal('85100.00'), 1188, 'Firrelli', 'Julie', 'x2173', 'jfirrelli@classicmodelcars.com', '2', 1143, 'Sales Rep')
(157, 'Diecast Classics Inc.', 'Leong', 'Kelvin', '2155551555', '7586 Pompton St.', None, 'Allentown', 'PA', '70267', 'USA', 1216, Decimal('100600.00'), 1216, 'Patterson', 'Steve', 'x4334', 'spatterson@classicmodelcars.com', '2', 1143, 'Sales Rep')
(198, 'Auto-Moto Classics Inc.', 'Taylor', 'Leslie', '6175558428', '16780 Pompton St.', None, 'Brickhaven', 'MA', '58339', 'USA', 1216, Decimal('23000.00'), 1216, 'Patterson', 'Steve', 'x4334', 'spatterson@classicmodelcars.com', '2', 1143, 'Sales Rep')
(286, "Marta's Replicas Co.", 'Hernandez', 'Marta', '6175558555', '39323 Spinnaker Dr.', None, 'Cambridge', 'MA', '51247', 'USA', 1216, Decimal('123700.00'), 1216, 'Patterson', 'Steve', 'x4334', 'spatterson@classicmodelcars.com', '2', 1143, 'Sales Rep')
(362, 'Gifts4AllAges.com', 'Yoshido', 'Juri', '6175559555', '8616 Spinnaker Dr.', None, 'Boston', 'MA', '51003', 'USA', 1216, Decimal('41900.00'), 1216, 'Patterson', 'Steve', 'x4334', 'spatterson@classicmodelcars.com', '2', 1143, 'Sales Rep')
(363, 'Online Diecast Creations Co.', 'Young', 'Dorothy', '6035558647', '2304 Long Airport Avenue', None, 'Nashua', 'NH', '62005', 'USA', 1216, Decimal('114200.00'), 1216, 'Patterson', 'Steve', 'x4334', 'spatterson@classicmodelcars.com', '2', 1143, 'Sales Rep')
(462, 'FunGiftIdeas.com', 'Benitez', 'Violeta', '5085552555', '1785 First Street', None, 'New Bedford', 'MA', '50553', 'USA', 1216, Decimal('85800.00'), 1216, 'Patterson', 'Steve', 'x4334', 'spatterson@classicmodelcars.com', '2', 1143, 'Sales Rep')
(151, 'Muscle Machine Inc', 'Young', 'Jeff', '2125557413', '4092 Furth Circle', 'Suite 400', 'NYC', 'NY', '10022', 'USA', 1286, Decimal('138500.00'), 1286, 'Tseng', 'Foon Yue', 'x2248', 'ftseng@classicmodelcars.com', '3', 1143, 'Sales Rep')
(168, 'American Souvenirs Inc', 'Franco', 'Keith', '2035557845', '149 Spinnaker Dr.', 'Suite 101', 'New Haven', 'CT', '97823', 'USA', 1286, Decimal('0.00'), 1286, 'Tseng', 'Foon Yue', 'x2248', 'ftseng@classicmodelcars.com', '3', 1143, 'Sales Rep')
(181, 'Vitachrome Inc.', 'Frick', 'Michael', '2125551500', '2678 Kingston Rd.', 'Suite 101', 'NYC', 'NY', '10022', 'USA', 1286, Decimal('76400.00'), 1286, 'Tseng', 'Foon Yue', 'x2248', 'ftseng@classicmodelcars.com', '3', 1143, 'Sales Rep')
(233, 'Québec Home Shopping Network', 'Fresnière', 'Jean ', '(514) 555-8054', '43 rue St. Laurent', None, 'Montréal', 'Québec', 'H1J 1C3', 'Canada', 1286, Decimal('48700.00'), 1286, 'Tseng', 'Foon Yue', 'x2248', 'ftseng@classicmodelcars.com', '3', 1143, 'Sales Rep')
(424, 'Classic Legends Inc.', 'Hernandez', 'Maria', '2125558493', '5905 Pompton St.', 'Suite 750', 'NYC', 'NY', '10022', 'USA', 1286, Decimal('67500.00'), 1286, 'Tseng', 'Foon Yue', 'x2248', 'ftseng@classicmodelcars.com', '3', 1143, 'Sales Rep')
(455, 'Super Scale Inc.', 'Murphy', 'Leslie', '2035559545', '567 North Pendale Street', None, 'New Haven', 'CT', '97823', 'USA', 1286, Decimal('95400.00'), 1286, 'Tseng', 'Foon Yue', 'x2248', 'ftseng@classicmodelcars.com', '3', 1143, 'Sales Rep')
(456, 'Microscale Inc.', 'Choi', 'Yu', '2125551957', '5290 North Pendale Street', 'Suite 200', 'NYC', 'NY', '10022', 'USA', 1286, Decimal('39800.00'), 1286, 'Tseng', 'Foon Yue', 'x2248', 'ftseng@classicmodelcars.com', '3', 1143, 'Sales Rep')
(131, 'Land of Toys Inc.', 'Lee', 'Kwai', '2125557818', '897 Long Airport Avenue', None, 'NYC', 'NY', '10022', 'USA', 1323, Decimal('114900.00'), 1323, 'Vanauf', 'George', 'x4102', 'gvanauf@classicmodelcars.com', '3', 1143, 'Sales Rep')
(175, 'Gift Depot Inc.', 'King', 'Julie', '2035552570', '25593 South Bay Ln.', None, 'Bridgewater', 'CT', '97562', 'USA', 1323, Decimal('84300.00'), 1323, 'Vanauf', 'George', 'x4102', 'gvanauf@classicmodelcars.com', '3', 1143, 'Sales Rep')
(202, 'Canadian Gift Exchange Network', 'Tamuri', 'Yoshi ', '(604) 555-3392', '1900 Oak St.', None, 'Vancouver', 'BC', 'V3F 2K1', 'Canada', 1323, Decimal('90300.00'), 1323, 'Vanauf', 'George', 'x4102', 'gvanauf@classicmodelcars.com', '3', 1143, 'Sales Rep')
(260, 'Royal Canadian Collectables, Ltd.', 'Lincoln', 'Elizabeth ', '(604) 555-4555', '23 Tsawassen Blvd.', None, 'Tsawassen', 'BC', 'T2F 8M4', 'Canada', 1323, Decimal('89600.00'), 1323, 'Vanauf', 'George', 'x4102', 'gvanauf@classicmodelcars.com', '3', 1143, 'Sales Rep')
(319, 'Mini Classics', 'Frick', 'Steve', '9145554562', '3758 North Pendale Street', None, 'White Plains', 'NY', '24067', 'USA', 1323, Decimal('102700.00'), 1323, 'Vanauf', 'George', 'x4102', 'gvanauf@classicmodelcars.com', '3', 1143, 'Sales Rep')
(328, 'Tekni Collectables Inc.', 'Brown', 'William', '2015559350', '7476 Moss Rd.', None, 'Newark', 'NJ', '94019', 'USA', 1323, Decimal('43000.00'), 1323, 'Vanauf', 'George', 'x4102', 'gvanauf@classicmodelcars.com', '3', 1143, 'Sales Rep')
(447, 'Gift Ideas Corp.', 'Lewis', 'Dan', '2035554407', '2440 Pompton St.', None, 'Glendale', 'CT', '97561', 'USA', 1323, Decimal('49700.00'), 1323, 'Vanauf', 'George', 'x4102', 'gvanauf@classicmodelcars.com', '3', 1143, 'Sales Rep')
(486, 'Motor Mint Distributors Inc.', 'Salazar', 'Rosa', '2155559857', '11328 Douglas Av.', None, 'Philadelphia', 'PA', '71270', 'USA', 1323, Decimal('72600.00'), 1323, 'Vanauf', 'George', 'x4102', 'gvanauf@classicmodelcars.com', '3', 1143, 'Sales Rep')
(146, 'Saveley & Henriot, Co.', 'Saveley', 'Mary ', '78.32.5555', '2, rue du Commerce', None, 'Lyon', None, '69004', 'France', 1337, Decimal('123900.00'), 1337, 'Bondur', 'Loui', 'x6493', 'lbondur@classicmodelcars.com', '4', 1102, 'Sales Rep')
(172, "La Corne D'abondance, Co.", 'Bertrand', 'Marie', '(1) 42.34.2555', '265, boulevard Charonne', None, 'Paris', None, '75012', 'France', 1337, Decimal('84300.00'), 1337, 'Bondur', 'Loui', 'x6493', 'lbondur@classicmodelcars.com', '4', 1102, 'Sales Rep')
(250, 'Lyon Souveniers', 'Da Silva', 'Daniel', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', None, 'Paris', None, '75508', 'France', 1337, Decimal('68100.00'), 1337, 'Bondur', 'Loui', 'x6493', 'lbondur@classicmodelcars.com', '4', 1102, 'Sales Rep')
(350, 'Marseille Mini Autos', 'Lebihan', 'Laurence ', '91.24.4555', '12, rue des Bouchers', None, 'Marseille', None, '13008', 'France', 1337, Decimal('65000.00'), 1337, 'Bondur', 'Loui', 'x6493', 'lbondur@classicmodelcars.com', '4', 1102, 'Sales Rep')
(353, 'Reims Collectables', 'Henriot', 'Paul ', '26.47.1555', "59 rue de l'Abbaye", None, 'Reims', None, '51100', 'France', 1337, Decimal('81100.00'), 1337, 'Bondur', 'Loui', 'x6493', 'lbondur@classicmodelcars.com', '4', 1102, 'Sales Rep')
(406, 'Auto Canal+ Petit', 'Perrier', 'Dominique', '(1) 47.55.6555', '25, rue Lauriston', None, 'Paris', None, '75016', 'France', 1337, Decimal('95000.00'), 1337, 'Bondur', 'Loui', 'x6493', 'lbondur@classicmodelcars.com', '4', 1102, 'Sales Rep')
(103, 'Atelier graphique', 'Schmitt', 'Carine ', '40.32.2555', '54, rue Royale', None, 'Nantes', None, '44000', 'France', 1370, Decimal('21000.00'), 1370, 'Hernandez', 'Gerard', 'x2028', 'ghernande@classicmodelcars.com', '4', 1102, 'Sales Rep')
(119, 'La Rochelle Gifts', 'Labrune', 'Janine ', '40.67.8555', '67, rue des Cinquante Otages', None, 'Nantes', None, '44000', 'France', 1370, Decimal('118200.00'), 1370, 'Hernandez', 'Gerard', 'x2028', 'ghernande@classicmodelcars.com', '4', 1102, 'Sales Rep')
(141, 'Euro+ Shopping Channel', 'Freyre', 'Diego ', '(91) 555 94 44', 'C/ Moralzarzal, 86', None, 'Madrid', None, '28034', 'Spain', 1370, Decimal('227600.00'), 1370, 'Hernandez', 'Gerard', 'x2028', 'ghernande@classicmodelcars.com', '4', 1102, 'Sales Rep')
(171, 'Daedalus Designs Imports', 'Rancé', 'Martine ', '20.16.1555', '184, chaussée de Tournai', None, 'Lille', None, '59000', 'France', 1370, Decimal('82900.00'), 1370, 'Hernandez', 'Gerard', 'x2028', 'ghernande@classicmodelcars.com', '4', 1102, 'Sales Rep')
(209, 'Mini Caravy', 'Citeaux', 'Frédérique ', '88.60.1555', '24, place Kléber', None, 'Strasbourg', None, '67000', 'France', 1370, Decimal('53800.00'), 1370, 'Hernandez', 'Gerard', 'x2028', 'ghernande@classicmodelcars.com', '4', 1102, 'Sales Rep')
(242, 'Alpha Cognac', 'Roulet', 'Annette ', '61.77.6555', '1 rue Alsace-Lorraine', None, 'Toulouse', None, '31000', 'France', 1370, Decimal('61100.00'), 1370, 'Hernandez', 'Gerard', 'x2028', 'ghernande@classicmodelcars.com', '4', 1102, 'Sales Rep')
(256, 'Auto Associés & Cie.', 'Tonini', 'Daniel ', '30.59.8555', "67, avenue de l'Europe", None, 'Versailles', None, '78000', 'France', 1370, Decimal('77900.00'), 1370, 'Hernandez', 'Gerard', 'x2028', 'ghernande@classicmodelcars.com', '4', 1102, 'Sales Rep')
(145, 'Danish Wholesale Imports', 'Petersen', 'Jytte ', '31 12 3555', 'Vinbæltet 34', None, 'Kobenhavn', None, '1734', 'Denmark', 1401, Decimal('83400.00'), 1401, 'Castillo', 'Pamela', 'x2759', 'pcastillo@classicmodelcars.com', '4', 1102, 'Sales Rep')
(227, 'Heintze Collectables', 'Ibsen', 'Palle', '86 21 3555', 'Smagsloget 45', None, 'Århus', None, '8200', 'Denmark', 1401, Decimal('120800.00'), 1401, 'Castillo', 'Pamela', 'x2759', 'pcastillo@classicmodelcars.com', '4', 1102, 'Sales Rep')
(249, 'Amica Models & Co.', 'Accorti', 'Paolo ', '011-4988555', 'Via Monte Bianco 34', None, 'Torino', None, '10100', 'Italy', 1401, Decimal('113000.00'), 1401, 'Castillo', 'Pamela', 'x2759', 'pcastillo@classicmodelcars.com', '4', 1102, 'Sales Rep')
(278, 'Rovelli Gifts', 'Rovelli', 'Giovanni ', '035-640555', 'Via Ludovico il Moro 22', None, 'Bergamo', None, '24100', 'Italy', 1401, Decimal('119600.00'), 1401, 'Castillo', 'Pamela', 'x2759', 'pcastillo@classicmodelcars.com', '4', 1102, 'Sales Rep')
(314, 'Petit Auto', 'Dewey', 'Catherine ', '(02) 5554 67', 'Rue Joseph-Bens 532', None, 'Bruxelles', None, 'B-1180', 'Belgium', 1401, Decimal('79900.00'), 1401, 'Castillo', 'Pamela', 'x2759', 'pcastillo@classicmodelcars.com', '4', 1102, 'Sales Rep')
(381, 'Royale Belge', 'Cartrain', 'Pascale ', '(071) 23 67 2555', 'Boulevard Tirou, 255', None, 'Charleroi', None, 'B-6000', 'Belgium', 1401, Decimal('23500.00'), 1401, 'Castillo', 'Pamela', 'x2759', 'pcastillo@classicmodelcars.com', '4', 1102, 'Sales Rep')
(382, 'Salzburg Collectables', 'Pipps', 'Georg ', '6562-9555', 'Geislweg 14', None, 'Salzburg', None, '5020', 'Austria', 1401, Decimal('71700.00'), 1401, 'Castillo', 'Pamela', 'x2759', 'pcastillo@classicmodelcars.com', '4', 1102, 'Sales Rep')
(386, "L'ordine Souveniers", 'Moroni', 'Maurizio ', '0522-556555', 'Strada Provinciale 124', None, 'Reggio Emilia', None, '42100', 'Italy', 1401, Decimal('121400.00'), 1401, 'Castillo', 'Pamela', 'x2759', 'pcastillo@classicmodelcars.com', '4', 1102, 'Sales Rep')
(452, 'Mini Auto Werke', 'Mendel', 'Roland ', '7675-3555', 'Kirchgasse 6', None, 'Graz', None, '8010', 'Austria', 1401, Decimal('45300.00'), 1401, 'Castillo', 'Pamela', 'x2759', 'pcastillo@classicmodelcars.com', '4', 1102, 'Sales Rep')
(473, 'Frau da Collezione', 'Ricotti', 'Franco', '+39 022515555', '20093 Cologno Monzese', 'Alessandro Volta 16', 'Milan', None, None, 'Italy', 1401, Decimal('34800.00'), 1401, 'Castillo', 'Pamela', 'x2759', 'pcastillo@classicmodelcars.com', '4', 1102, 'Sales Rep')
(186, 'Toys of Finland, Co.', 'Karttunen', 'Matti', '90-224 8555', 'Keskuskatu 45', None, 'Helsinki', None, '21240', 'Finland', 1501, Decimal('96500.00'), 1501, 'Bott', 'Larry', 'x2311', 'lbott@classicmodelcars.com', '7', 1102, 'Sales Rep')
(187, 'AV Stores, Co.', 'Ashworth', 'Rachel', '(171) 555-1555', 'Fauntleroy Circus', None, 'Manchester', None, 'EC2 5NT', 'UK', 1501, Decimal('136800.00'), 1501, 'Bott', 'Larry', 'x2311', 'lbott@classicmodelcars.com', '7', 1102, 'Sales Rep')
(201, 'UK Collectables, Ltd.', 'Devon', 'Elizabeth', '(171) 555-2282', '12, Berkeley Gardens Blvd', None, 'Liverpool', None, 'WX1 6LT', 'UK', 1501, Decimal('92700.00'), 1501, 'Bott', 'Larry', 'x2311', 'lbott@classicmodelcars.com', '7', 1102, 'Sales Rep')
(240, 'giftsbymail.co.uk', 'Bennett', 'Helen ', '(198) 555-8888', 'Garden House', 'Crowther Way 23', 'Cowes', 'Isle of Wight', 'PO31 7PJ', 'UK', 1501, Decimal('93900.00'), 1501, 'Bott', 'Larry', 'x2311', 'lbott@classicmodelcars.com', '7', 1102, 'Sales Rep')
(311, 'Oulu Toy Supplies, Inc.', 'Koskitalo', 'Pirkko', '981-443655', 'Torikatu 38', None, 'Oulu', None, '90110', 'Finland', 1501, Decimal('90500.00'), 1501, 'Bott', 'Larry', 'x2311', 'lbott@classicmodelcars.com', '7', 1102, 'Sales Rep')
(324, 'Stylish Desk Decors, Co.', 'Brown', 'Ann ', '(171) 555-0297', '35 King George', None, 'London', None, 'WX3 6FW', 'UK', 1501, Decimal('77000.00'), 1501, 'Bott', 'Larry', 'x2311', 'lbott@classicmodelcars.com', '7', 1102, 'Sales Rep')
(334, 'Suominen Souveniers', 'Suominen', 'Kalle', '+358 9 8045 555', 'Software Engineering Center', 'SEC Oy', 'Espoo', None, 'FIN-02271', 'Finland', 1501, Decimal('98800.00'), 1501, 'Bott', 'Larry', 'x2311', 'lbott@classicmodelcars.com', '7', 1102, 'Sales Rep')
(489, 'Double Decker Gift Stores, Ltd', 'Smith', 'Thomas ', '(171) 555-7555', '120 Hanover Sq.', None, 'London', None, 'WA1 1DP', 'UK', 1501, Decimal('43300.00'), 1501, 'Bott', 'Larry', 'x2311', 'lbott@classicmodelcars.com', '7', 1102, 'Sales Rep')
(121, 'Baane Mini Imports', 'Bergulfsen', 'Jonas ', '07-98 9555', 'Erling Skakkes gate 78', None, 'Stavern', None, '4110', 'Norway', 1504, Decimal('81700.00'), 1504, 'Jones', 'Barry', 'x102', 'bjones@classicmodelcars.com', '7', 1102, 'Sales Rep')
(128, 'Blauer See Auto, Co.', 'Keitel', 'Roland', '+49 69 66 90 2555', 'Lyonerstr. 34', None, 'Frankfurt', None, '60528', 'Germany', 1504, Decimal('59700.00'), 1504, 'Jones', 'Barry', 'x102', 'bjones@classicmodelcars.com', '7', 1102, 'Sales Rep')
(144, 'Volvo Model Replicas, Co', 'Berglund', 'Christina ', '0921-12 3555', 'Berguvsvägen  8', None, 'Luleå', None, 'S-958 22', 'Sweden', 1504, Decimal('53100.00'), 1504, 'Jones', 'Barry', 'x102', 'bjones@classicmodelcars.com', '7', 1102, 'Sales Rep')
(167, 'Herkku Gifts', 'Oeztan', 'Veysel', '+47 2267 3215', 'Brehmen St. 121', 'PR 334 Sentrum', 'Bergen', None, 'N 5804', 'Norway  ', 1504, Decimal('96800.00'), 1504, 'Jones', 'Barry', 'x102', 'bjones@classicmodelcars.com', '7', 1102, 'Sales Rep')
(189, 'Clover Collections, Co.', 'Cassidy', 'Dean', '+353 1862 1555', '25 Maiden Lane', 'Floor No. 4', 'Dublin', None, '2', 'Ireland', 1504, Decimal('69400.00'), 1504, 'Jones', 'Barry', 'x102', 'bjones@classicmodelcars.com', '7', 1102, 'Sales Rep')
(259, 'Toms Spezialitäten, Ltd', 'Pfalzheim', 'Henriette ', '0221-5554327', 'Mehrheimerstr. 369', None, 'Köln', None, '50739', 'Germany', 1504, Decimal('120400.00'), 1504, 'Jones', 'Barry', 'x102', 'bjones@classicmodelcars.com', '7', 1102, 'Sales Rep')
(299, 'Norway Gifts By Mail, Co.', 'Klaeboe', 'Jan', '+47 2212 1555', 'Drammensveien 126A', 'PB 211 Sentrum', 'Oslo', None, 'N 0106', 'Norway  ', 1504, Decimal('95100.00'), 1504, 'Jones', 'Barry', 'x102', 'bjones@classicmodelcars.com', '7', 1102, 'Sales Rep')

In [13]:
stmt = select(
    *[
        customers, payments, orders
    ]
).where(customers.columns.customerNumber == orders.columns.customerNumber
).where(orders.columns.orderNumber == payments.columns.checkNumber)
print(stmt)

results = con.execute(stmt).fetchall()
print("Customers, payments and orders:")
display(results)

SELECT customers."customerNumber", customers."customerName", customers."contactLastName", customers."contactFirstName", customers.phone, customers."addressLine1", customers."addressLine2", customers.city, customers.state, customers."postalCode", customers.country, customers."salesRepEmployeeNumber", customers."creditLimit", payments."customerNumber" AS "customerNumber_1", payments."checkNumber", payments."paymentDate", payments.amount, orders."orderNumber", orders."orderDate", orders."requiredDate", orders."shippedDate", orders.status, orders.comments, orders."customerNumber" AS "customerNumber_2"
FROM customers, payments, orders
WHERE customers."customerNumber" = orders."customerNumber" AND orders."orderNumber" = payments."checkNumber"
Customers, payments and orders:

[]

### 3. Number of products in the store

In [14]:
products = Table('products', metadata, autoload_with=db)

stmt = select(
    *[
        func.count(products.columns.productCode)
    ]
)
print(stmt)

result = con.execute(stmt).fetchone()
print(f"Number of products in the store: {result[0]}")

SELECT count(products."productCode") AS count_1
FROM products
Number of products in the store: 110

### 4. List of offices with limit 5

In [15]:
offices = Table('offices', metadata, autoload_with=db)

stmt = select(*[offices])
stmt = stmt.limit(5)
print(stmt)

results = con.execute(stmt).fetchall()
for result in results:
    print(result)

SELECT offices."officeCode", offices.city, offices.phone, offices."addressLine1", offices."addressLine2", offices.state, offices.country, offices."postalCode", offices.territory
FROM offices
 LIMIT :param_1
('1', 'San Francisco', '+1 650 219 4782', '100 Market Street', 'Suite 300', 'CA', 'USA', '94080', 'NA')
('2', 'Boston', '+1 215 837 0825', '1550 Court Place', 'Suite 102', 'MA', 'USA', '02107', 'NA')
('3', 'NYC', '+1 212 555 3000', '523 East 53rd Street', 'apt. 5A', 'NY', 'USA', '10022', 'NA')
('4', 'Paris', '+33 14 723 4404', "43 Rue Jouffroy D'abbans", None, None, 'France', '75017', 'EMEA')
('5', 'Tokyo', '+81 33 224 5000', '4-1 Kioicho', None, 'Chiyoda-Ku', 'Japan', '102-8578', 'Japan')

### 5. Find the oldest and youngest payments in rental

In [16]:
from sqlalchemy import Table, select, func

payments = Table('payments', metadata, autoload_with=db)

stmt = select(*[func.min(payments.columns.paymentDate),
                func.max(payments.columns.paymentDate)])
# stmt = stmt.where(payments.columns.rental_id.isnot(None))
print(stmt)

result = con.execute(stmt).fetchone()
print('Oldest payment date:', result[0])
print('Youngest payment date:', result[1])

SELECT min(payments."paymentDate") AS min_1, max(payments."paymentDate") AS max_1
FROM payments
Oldest payment date: 2003-01-16
Youngest payment date: 2005-06-09